.bestsellers{
  font-family: "Open Sans";
  &__title{
    margin: 0 auto;
    color: #060606;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: $desctop-width) {
  .bestsellers{
    &__title{
      margin: 25px 0;
      opacity: 0.98;
      color: #060606;
      font-family: "Open Sans";
      font-size: 28px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
    }
  }
}
