
@media (min-width: $desctop-width) {
  .bestsellers-slider{
    overflow-x: hidden;
    &__wrapper{
      position: relative;
      width: 9999px;
      transition: all ease 3s;
    }
    &__controls{
      position: absolute;
      top: 50%;
      &-prev,
      &-next{
        position: absolute;
        display: block;
        width: 31px;
        height: 63px;
        background-position: center;
        background-repeat: no-repeat;
        top: 209px;
        &::before{
          position: absolute;
          content: '';
          width: 11px;
          height: 20px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          top: 22px;
          left: 9px;
        }
      }
      &-prev{
        background-image: url(../img/decorate/prev_control.png);
        left: 0;
        &::before{
          background-image: url('../img/decorate/prev_arrow.png');
        }
      }
      &-next{
        background-image: url(../img/decorate/next_control.png);
        right: -1345px;
        &::before{
          background-image: url('../img/decorate/next_arrow.png');
        }
      }
    }
  }
}
