.bestsellers-slider{
  overflow-x: hidden;
  &__wrapper{
    position: relative;
    width: 9999px;
    transition: all ease 1s;
  }
}
@media (min-width: $tablet-width){
  .bestsellers-slider{
    overflow-x: hidden;
    &__controls{
      position: absolute;
      &-prev,
      &-next{
        position: absolute;
        top: 130px;
        z-index: 5;
        display: block;
        width: 31px;
        height: 63px;
        background-position: center;
        background-repeat: no-repeat;
        &::before{
          position: absolute;
          content: '';
          width: 11px;
          height: 20px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          top: 22px;
          left: 9px;
        }
      }
      &-prev{
        background-image: url(../img/decorate/prev_control.png);
        left: 0;
        &::before{
          //background-image: url('../img/decorate/prev_arrow.png');
        }
      }
      &-next{
        background-image: url(../img/decorate/next_control.png);
        right: -812px;
        &::before{
          //background-image: url('../img/decorate/next_arrow.png');
        }
      }     
    }
  }
}
@media (min-width: $desctop-width) {
  .bestsellers-slider{
    &__controls{
      top: 50%;
      &-prev,
      &-next{
        top: 209px;
      }
      &-prev{
        background-image: url(../img/decorate/prev_control.png);
        left: 0;
        &::before{
          //background-image: url('../img/decorate/prev_arrow.png');
        }
      }
      &-next{
        background-image: url(../img/decorate/next_control.png);
        right: -1345px;
        &::before{
          //background-image: url('../img/decorate/next_arrow.png');
        }
      }
    }
  }
}
