.container{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: $tablet-width) {
  .container{
    width: 820px;
    &--footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
@media (min-width: $desctop-width) {
  .container{
    width: 1346px;
  }
}
