.goods-slider{
  position: relative;
  margin-bottom: 15px;
  &__controls{
    position: absolute;
    top: 35%;
    &-prev,
    &-next{
      position: absolute;
      z-index: 4;
      display: block;
      width: 24px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-prev{
      background-image: url(../img/decorate/prev_control.png);
      left: 0;
      &::before{
        //background-image: url('../img/decorate/prev_arrow.png');
      }
    }
    &-next{
      background-image: url(../img/decorate/next_control.png);
      right: -322px;
      &::before{
        //background-image: url('../img/decorate/next_arrow.png');;
      }
    }
  }
  &__indicators{
    display: flex;
  }
  &__items-wrapper{
  }
}
.goods-slider__item{
  position: relative;
  display: none;
  width: 322px;
  height: 228px;
  padding: 37px 40px;
  color: #ffffff;
  font-family: "Open Sans";
  text-align: center;
  background-size: 128%;
  background-position-y: -44px;
  &-name{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }
  &-description{
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  &-link-more{
    display: inline-block;
    padding: 7px 20px;
    margin-top: 15px;
    background-color: #fb0040;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
  }
  &-image{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
  }
  &--forest{
    background-image: url("../img/content/main_forest.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: $desctop-width) {
  .goods-slider__items-wrapper{
    height: 100%;
  }
  .goods-slider__indicators{
    position: absolute;
    bottom: 41px;
    left: 43px;
    display: block;
    width: 76px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    &-item{
      height: 10px;
      width: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
  }
  .goods-slider__controls-next{
    right: -639px
  }
  .goods-slider__item{
    width: 639px;
    height: 423px;
    padding: 112px 40px 50px;
    text-align: left;
    &-name{
      width: 286px;
      margin-bottom: 15px;
      text-align: left;
      font-size: 32px;
      font-weight: 700;
      line-height: 35px;
    }
    &-description{
      width: 285px;
      margin-bottom: 15px;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    &-link-more{
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      line-height: 23px;
      padding: 7px 21px;
      }
    &-image{
      display: block;
      z-index: 3;
    }
  }
}
