.goods-slider{
  width: 322px;
  height: 228px;
}
.goods-slider__item{
  &--forest{
    background-image: url("../img/content/main_forest.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: $desctop-width) {
}
