.goods{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
@media (min-width: $tablet-width) {
  .goods{
    flex-direction: column;
  }
}
@media (min-width: $desctop-width) {
  .goods{
    flex-direction: row;
  }
}
