
@media (min-width: $desctop-width) {
  .item-category{
    width: 345px;
    padding-top: 15px;
    background-color: #ebebeb;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    &__title{
      display: inline-block;
      vertical-align: top;
      padding: 5px 20px;
      color: #000000;
      background-color: #fff;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 28.79px;
    }
    &__image{
      display: block;
      margin: 0 auto;
    }
  }
}
.item-category:nth-child(2n){
  margin-top: 27px;
}
